{% extends "base.html" %}

{% block title %}
    Listado de empleados
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="card card shadow">
        <div class="card-header table-header-color text-white card-heading-padding">
            <h5 class="mb-0">Listado de Personal Universitario</h5>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>DUI</th>
                        <th>Tipo</th>
                        <th>Puesto</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in empleados %}
                    <tr>
                        <td>{{ e.nombre }}</td>
                        <td>{{ e.dui }}</td>
                        <td>{{ e.get_tipo_display }}</td>
                        <td>{{ e.puesto }}</td>
                        <td>
                            {% if perms.rrhh.puede_gestionar_rrhh %}
                                <a href="{% url 'detalle_empleado' e.id %}" class="btn action-buttoms btn-sm">Gestionar</a>
                            {% else %}
                                <span class="badge bg-secondary">Solo Lectura</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

</body>
</html>